<br>
<h1>Guests</h1>

<table class="table table-hover table-striped">
  <thead>
    <tr class="table-dark">
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @guests.each do |guest| %>
      <tr>
        <td>
          <%= link_to guest.first_name + " " + guest.last_name, guest %>

          
        </td>
        <td><%= guest.phone %></td>
        <td><%= guest.email %></td>

        
        <% if user_signed_in? %>
        
        <td><%= link_to 'Delete', guest, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger btn-sm" %></td>
        <% else %>
        <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
<%= link_to 'New Guest', new_guest_path, class:"btn btn-secondary" %>
<% end %>
