
<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4">
    <%= @guest.first_name %>
    <%= @guest.last_name %>
  </h1>
  <p class="lead">
    <strong>Phone:</strong>
    <%= @guest.phone %> |
    <strong>Email:</strong>
    <%= @guest.email %>
  </p>
  <hr class="my-4">
  <p></p>
  <br>
  <%= link_to 'Edit', edit_guest_path(@guest), class:"btn btn-secondary" %> &nbsp;
  <%= link_to 'Back', guests_path, class:"btn btn-dark" %>
</div>


<div class="p-4 m-3">

<table class="table">
<tbody>
    <% @assignments.each do |assignment| %>
      <tr>

      <th>Room</th>
      <th colspan="3"></th>

        <td><%= assignment.room.room_num %></td>
        <td><%= link_to 'Show', guest_assignment_path(@guest.id, assignment.id) %></td>
        
      </tr>
    <% end %>
  </tbody>

</table>
<br/>
<%= link_to "Assign a new room", new_guest_assignment_path(@guest), class:"btn btn-secondary" %>
</div>