<%= form_for [@guest, @assignment] do |f| %>
  <% if assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
        <% @assignment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>




  <div class="mb-3">
    <% f.label :room_number %>
    <%= f.text_field :room_number, class:"form-control", placeholder:"Room Number"%>
  </div>
<br>
  <div class="actions">
    <%= f.submit class:"btn btn-secondary"%>
  </div>
<% end %>

